In [7]:
from scipy.stats import skew
import numpy as np
x=np.array([-145,-117,-119,-121,1,1,1,1,1])
skew(x)

np.float64(-0.2691919588475423)

In [5]:
#Variance
import statistics
sample=[3,4,2,5,6,7,3,4,8]
print("population variance is%s"%(statistics.pvariance(sample)))
print("sample variance is %s"%(statistics.variance(sample)))

population variance is3.5555555555555554
sample variance is 4

In [11]:
#standard deviation
sample1=[9,2,5,4,12,7,8,11,9,3,7,4,12,5,4,10,9,6,9,4]
print("population std:",np.std(sample1))
print("sample std:",statistics.stdev(sample1))

population std: 2.9832867780352594
sample std: 3.0607876523260447

In [12]:
#co variance
x=[1,2,3,4,5]
y=[50,40,30,20,10]
cov_mat=np.stack((x,y),axis=0)
print(np.cov(cov_mat))

[[  2.5 -25. ]
 [-25.  250. ]]

In [16]:
# correlation
import pandas as pd
df=pd.DataFrame(list(zip(x,y)),index=['a','b','c','d','e'],columns=['x','y'])
df

   x   y
a  1  50
b  2  40
c  3  30
d  4  20
e  5  10

In [18]:
df.corr()

     x    y
x  1.0 -1.0
y -1.0  1.0